.navbar{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 3.5rem 1rem;
}
.nav__logo{
    z-index: 10;
    height: 6.3rem;
}
.nav__links{
    display: flex;
    justify-content: space-between;
    column-gap: 4.5rem;
    z-index: 15;
}
.nav__links a{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    border-bottom: 2px solid rgba(0, 178, 160, 0);
}
.nav__links a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid rgba(0, 178, 160, 1);
}
.navbar .bi-list{
    font-size: 3rem;
    color: #fff;
    z-index: 3;
    cursor: pointer;
    display: none;
}





@media screen and (max-width:992px) {
    .navbar{
        padding: 2.5rem 1rem;
    }
    .nav__logo{
        height: 5.3rem;
    }
    .nav__links{
        column-gap: 3rem;
    }
    .nav__links a{
        font-size: 2.2rem;
    }
}

@media screen and (max-width:770px) {
    .navbar .bi-list{
        font-size: 3rem;
        color: #fff;
        z-index: 3;
        cursor: pointer;
        display: block;
    }
    .navbar.active{
        display: flex;
    }
    .nav__links{
        display: none;
    }
    .navbar.active .nav__links{
        display: flex;
        flex-direction: column;
    }
}

